sandbox
checkpoints
results
logs
wandb
data

*__pycache__*
.idea
venv

samples

*.jpg
*.jpeg
*.npy
*.png
*.DS_Store
*._.DS_Store
shardsFaceHQ
checkpoints_fromJulich/
lightning_logs/

!nulltext.npy

batched_start.sh
syncing.sh

dataset/*.csv
tmp/
run.sh
testy.ipynb
src